<app-users-nav></app-users-nav>
<div class="content">
  <h2>Transactions</h2>
  <div class="transaction-table">
    <ul class="l-head">
      <li>Date</li>
      <li>Type</li>
      <li>Amount</li>
      <li>Statut</li>
    </ul>
    <div class="row" *ngFor="let transaction of transactions">
      <ul>
        <li class="date">{{ transaction.created_at | date: 'dd/mm/yyyy' }}</li>
        <li>{{transaction.type}}</li>
        <li>{{transaction.amount}}</li>
        <li id="pending" *ngIf="!transaction.state">En cours</li>
        <li id="validate" *ngIf="transaction.state">Validé</li>
      </ul>
    </div>
  </div>
</div>
