<app-users-nav></app-users-nav>
<div class="content">
  <h2>Transactions</h2>
  <div class="transaction-table">
    <ul class="l-head">
      <li>Date</li>
      <li>Type</li>
      <li>Description</li>
      <li>Statut</li>
    </ul>
    <div class="row">
      <ul >
        <li class="date"></li>
        <li></li>
        <li></li>
        <li id="pending"></li>
        <li id="validate">Validé</li>
      </ul>
      <div class="menu">
        <button class="btn btn-danger" >Supprimer</button>
      </div>
    </div>
  </div>
</div>
