@mixin login-page($class){
  .bg-image {
    background-position: initial;
    background-size: cover;
    padding: 0;
    margin: 0;
  }
  .content {
    .#{$class} {
      width: 40%;

      label {
        font-size: large;
      }

      input {
        height: 40px;
        font-size: large;
        padding: 5px 10px;


        &:focus {
          outline: none;
          padding: 5px 10px;
        }
      }
      button {
        width: 30%;
        padding: 10px;
        font-size: large;
        margin-top: 30px;
      }
    }
  }
}
