$font: 'Open Sans', 'sans-serif';
$primary-color: #071A2E;
$secondary-color: #2E2E2E;
$tertiary-color: #C0C0C0;

$backgroud-gradiant: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(178, 178, 178) 0%, rgb(54, 54, 54) 100%);
