@import '../../vars/variables';

nav {
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: $primary-color;
  padding: 0;
  margin: 0;
  height: 10vh;

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 8vh;
    overflow: hidden;
    border-radius: 100%;
    background-color: red;
    margin: 0 2vw;
    background-color: gray;


  }
}
