<app-users-nav></app-users-nav>
<div class="content">

  <section class="solde">
    <div class="solde-num">
      <h2>0</h2>
    </div>
    <div class="solde-devise">
      <h2>$</h2>
    </div>
  </section>
  <section class="transactions">
    <h2>Transactions</h2>
    <div class="content-transaction">
      <table>
        <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>00/00/00</td>
          <td>blabla</td>
          <td>0 €</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="comptes">
    <h2>Comptes</h2>
    <div class="content-account">
      <table>
        <tbody>
        <tr>
          <td class="account-amount">0 €</td>
          <td class="account-type">Livret A</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
