@import '../../../vars/variables';


.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;

  .signup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: 60%;
    color: white;
    background-color: $secondary-color;
    padding: 2rem;
    border-radius: 10px;

    label {
      font-family: $font;
      font-size: small;
      margin: 0 0 10px 0;
    }

    input {
      margin: 0 0 20px 0;
      border-radius: 10px;
      height: 25px;
      border: none;
      font-family: $font;
      background-color: $tertiary-color;
      padding: 2px 5px;


      &:focus {
        outline: none;
        padding: 2px 5px;
      }
    }

    button {
      width: 40%;
      margin: 0 auto;
      border-radius: 10px;
      padding: 5px;
      color: white;
      border: none;
      background-color: #634597;
    }
  }
}

#password, #confirm-password {
  width: 65%;
}

.error-login {
  color: red;
  font-family: $font;
  font-size: small;
  margin: 20px 0 10px 0;
}

@media (min-width: 390px) {
  .bg-image {
    background-position: initial;
    background-size: cover;
    padding: 0;
    margin: 0;

  }
  .content {
    .signup {
      width: 40%;

      label {
        font-size: large;
      }

      input {
        height: 40px;
        font-size: large;
        padding: 5px 10px;


        &:focus {
          outline: none;
          padding: 5px 10px;
        }
      }
      button {
        width: 30%;
        padding: 10px;
        font-size: large;
        margin-top: 30px;
      }
    }
  }
}
