<nav>
  <div class="content-nav" *ngIf="!desktop">
    <ul>
      <li><button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zm-6-2h5V9.157l-6-5.454-6 5.454V19h5v-6h2v6z" fill="rgba(255,255,255,1)"/></svg></button></li>
      <li><button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path fill="none" d="M0 0h24v24H0z"/><path d="M5 2h14a1 1 0 0 1 1 1v19.143a.5.5 0 0 1-.766.424L12 18.03l-7.234 4.536A.5.5 0 0 1 4 22.143V3a1 1 0 0 1 1-1zm13 2H6v15.432l6-3.761 6 3.761V4z" fill="rgba(255,255,255,1)"/></svg></button></li>
      <li><button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path fill="none" d="M0 0h24v24H0z"/><path d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z" fill="rgba(255,255,255,1)"/></svg></button></li>
    </ul>
  </div>


  <div class="content-nav-desktop" *ngIf="desktop">
    <div class="logo" >
      <img src="../../../assets/logo.png" alt="logo"/>
    </div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Transactions</a></li>
      <li><a href="#">Demandes</a></li>
    </ul>
  </div>
</nav>
