<link rel="stylesheet" href="requests.component.scss">
<app-users-nav> </app-users-nav>
<section class="content">
  <div class="container">
    <h2>Demandes</h2>
    <button class="create-request">Creer</button>
    <div class="request-table">
      <ul class="l-head">
        <li>Date</li>
        <li>Type</li>
        <li>Description</li>
        <li>Statut</li>
      </ul>
      <div class="row" id="row-{{request.id}}" *ngFor="let request of requests">
        <ul (click)="toggleMenu($event, request.id)">
          <li>{{request.created_at | date: 'dd/mm/yyy' }}</li>
          <li>{{request.request_type}}</li>
          <li>{{request.content}}</li>
          <li id="pending" *ngIf="!request.status">En attente</li>
          <li id="validate" *ngIf="request.status">Validé</li>
        </ul>
        <div id="menu-{{request.id}}" class="menu">
          <button class="btn btn-danger" (click)="delete(request.id)" >Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</section>
